{% extends 'base.html.twig' %}

{% block title %}Modifier votre profil{% endblock %}

{% block body %}
    <h1>Modifier votre profil</h1>

<div class="mx-5 mt-3">
    {{ form(form) }}
</div>
{% endblock %}
