{% extends 'base.html.twig' %}

{% block title %}Modification du mot de passe
{% endblock %}

{% block body %}
	<div class="container">
		<h1 class="mt-4">Modification de votre mot de passse</h1>

		{% for message in app.flashes('warning') %}
			<div class="alert alert-warning mt-4">
				{{ message }}
			</div>
		{% endfor %}
		<div class="mx-5 mt-3">
			{{ form(form) }}
			</div>
		</div>
	{% endblock %}