{% extends 'base.html.twig' %}

{% block title %}Hello SecurityController!
{% endblock %}

{% block body %}
	<div class="container">
        {% if error %}
            <div class="alert alert-danger">
                {{error.messageKey|trans(error.messageData, 'security')}}
            </div>
        {% endif %}
        
		<div class="row mt-5">
			<div class="offset-lg-3 col-lg-6 justify-content-center mt-5" style="height: 100vh;">
				<h1 class="mt-5">Connexion</h1>
				<form action="{{ path('security.login') }}" method="post" class="row">
					<div class="col-12 col-lg-12">
						<label for="username" class="form-label"></label>
						<input name="_username" type="email" class="form-control w-100" id="username" placeholder="Adresse email">
					</div>
					<div class="col-12">
						<label for="password" class="form-label"></label>
						<input name="_password" type="password" class="form-control w-100" id="password" placeholder="Mot de passe">
					</div>
					<div class="col-6 my-2">
						<a href="{{ path('security.registration') }}">Pas encore de compte?<br>Inscrivez-vous!</a>
					</div>
					<div class="col-6 my-2">
						<button type="submit" class="btn btn-primary w-100">Se connecter</button>
					</div>
				</form>
			</div>
		</div>
	</div>
{% endblock %}

