        <form class="d-flex d-none d-md-flex" method="POST" action="{{ path('search') }}">
			{{ form_widget(form.mots, { 'attr': { 'class': 'form-control me-sm-2', 'placeholder': 'Mots-clés' } }) }}
			{{ form_widget(form.Rechercher, { 'attr': { 'class': 'btn btn-secondary my-2 my-sm-0' } }) }}
		</form>