<footer>
    <div class="container-fluid pt-5">
        <div class="row my-5 gy-4">
            <div class="col-6 col-md-3 text-center">
                <a class="navbar-brand fw-bold" href="#">Mentions légales</a>
            </div>
            <div class="col-6 col-md-3 text-center">
                <a class="navbar-brand fw-bold" href="#">CGV</a>
            </div>
            <div class="col-6 col-md-3 text-center">
                <a class="navbar-brand fw-bold" href="#">Copyright</a>
            </div>
            <div class="col-6 col-md-3 text-center">
                <a class="navbar-brand fw-bold" href="#">Plan du site</a>
            </div>
        </div>
    </div>
    <!-- Inclure le script de Bootstrap -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js" integrity="sha512-xxx" crossorigin="anonymous"></script>
</footer>