{% extends 'base.html.twig' %}

{% block title %}Nouvelle adresse{% endblock %}

{% block body %}
    <h1>Création d'une nouvelle adresse</h1>

    {{ include('adresse/_form.html.twig') }}

    <div class="mx-5 mt-3">
	    <a href="{{ path('app_user_show', {'id': adresse.client.profil.id}) }}">Retour au profil</a>
    </div>
{% endblock %}
